extends index

block content
    .container
        .row
            div.auction
                img.auction-image(src="/static/auctionimages/" + result.auction.id + ".jpg")
                h1= 'Title:' + result.auction.name
                h2= 'Item For sale:' + result.auction.item
                span= 'Creator: ' + result.auction.creator
                if result.highestBidder
                    h2= 'Highest bidder:'
                    a(href= '/profile/' + result.highestBidder)= result.highestBidder
                else
                    h2= 'No bids yet'
                div.comments
                    each comment in result.auction.comments
                            div.comment
                                p.comment-value=comment.comment
                                p.comment-user=comment.user
                if result.isAuthenticated
                    div.comments-form
                        input#comment-text(type='text', placeholder='What do you think?')
                        input#comment-send(type='submit', value='Comment')
                else
                    span Loggin to post comments
        hr
        if result.isAuthenticated
            .row
                a#offer-button.btn.btn-default Make an offer
                #offer-container(style="padding-top: 5px;display: none;")
                    form.col-xs-2(method="post", action="/auctions/offer", role='form')
                        input.form-control(type="number", step="0.01", name="amount", min="0", placeholder="Enter offer amount")
                        input(type="submit" class="btn btn-success" value="Submit")
