extends index

block content
    .container
        .row
            #filter-panel.filter-panel
                .panel.panel-default
                    .panel-body
                        .form-group
                            label.filter-col(style='margin-right:0;', for='pref-search') Search:
                            input#pref-search.form-control.input-sm(type='text')
                            button.btn.btn-default.filter-col#button-send-search()
                                strong
                                    span.glyphicon.glyphicon-search
                                    |  Deep Search
            //button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#filter-panel')
            //    span.glyphicon.glyphicon-cog
            //    |  Advanced Search
        div.row.auctions.grid
            each auction in result.auctions
                div.auction.grid-item
                    div.auction-image
                        img.auction-image(src="/static/auctionimages/" + auction.id + ".jpg")
                    div.auction-info
                        h1.auction-title= ''
                             a.auction-name(href='/auctions/'+auction.id)= auction.name
                        h2.auction-item= 'Item: ' + auction.item
                        h3.auction-creator= 'Seller: '
                             a.auction-creator-name(href= '/profile/'+ auction.creator)= auction.creator
                    div.bid-and-time
                        strong
                            a.bid(href='/auctions/'+auction.id)= 'Bid'
                        span.time=auction.endDate
        input.btn.btn-success#load-more(type='button' value='Load More')